<div class="container">
  <div class="row py-5">

    <div class="col-md-8 pb-3">
      <ul class="list-group">
        <li class="list-group-item list-group-item text-center text-center">
          <h5 class="card-title">Wins (<%= @user.wins.size %>)</h5>
        </li>
        <% @user.wins.reverse.each do |win| %>
          <li class="list-group-item list-group-item">
            <%= render "challenges/wins/win", win: win %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item text-center">
            <h5 class="card-title">Challenges (<%= @user.challenges.size %>)</h5>
          </li>
          <% @user.challenges.reverse.each do |challenge| %>
            <%= link_to challenge.title, challenge, class: "list-group-item list-group-item-action" %>
          <% end %>
        </ul>
      </div>

      <div class="card mb-3">
        <%= image_tag @user.avatar, class: "card-img-top", alt: "#{@user.first_name}" if @user.avatar.attached? %>
        <ul class="list-group list-group-flush">
          <% if @user.moniker %>
            <li class="list-group-item text-center">
              <small><%= "@#{@user.moniker}" if @user.moniker %></small>
            </li>
          <% end %>
          <li class="list-group-item">
            <%= render "users/users/frequency_graph", streak_length: 30 %>
          </li>
        </ul>

        <%= render "users/users/follow_button" %>
      </div>
    </div>

  </div>
</div>
