<p id="notice"><%= notice %></p>

<h1>Followerships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followerships.each do |followership| %>
      <tr>
        <td><%= User.find(followership.user_id).first_name %></td>
        <td><%= User.find(followership.follower_id).first_name %></td>
        <td><%= link_to 'Show', followership %></td>
        <td><%= link_to 'Edit', edit_followership_path(followership) %></td>
        <td><%= link_to 'Destroy', followership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Followership', new_followership_path %>
