<%= form_with(model: @win, url: url, local: true) do |f| %>
  <% if win.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(win.errors.count, "error") %>
        prohibited this win from being saved:
      </h2>

      <ul>
      <% win.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_area :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "How did it go?" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true, class: "input-control" %>
  </div>
  <%= render 'layouts/bootstrap_file_field', image_symbol: :images, f: f, multiple: true %>

  <div class="form-group">
    <% if @win.images.attached? %>
      <div class="row">
        <% @win.images.each do |image| %>
          <div class="col">
            <%= image_tag image, class: "img-fluid", width:"150px" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
