<div class="row my-1">
  <div class="col-3 text-center">
    <%= render "users/users/small_circular_avatar", avatar_to_display: win.user, image_size: 105 %>
  </div>
  <div class="col-7">
    <p>
      <small>
        <%= "@#{win.user.moniker}" if win.user %><br>
        <%= "#{win.title}" if win.title %><br>
      </small>
    </p>
  </div>
  <div class="col-2 text-center">
    <%= link_to challenge_win_path(win.challenge, win) do %>
      <i class="material-icons md-24">settings</i>
    <% end %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <%= render "challenges/wins/images", images: win.images if win.images.attached? %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <%= win.description %>
  </div>
</div>
