<div class="card my-3">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p>
          <% if win.user.avatar.attached? %>
            <%= image_tag win.user.avatar, class: 'img-fluid', width: "50px" %>
          <% else %>
            <%= image_tag "default_avatar.jpg", class: 'img-fluid', width: "50px" %>
          <% end %>
          <%= win.user.first_name %>
        </p>
        <p>
          <%= win.description %>
        </p>
      </div>
      <% if current_user === win.user %>
        <div class="col">
          <%= link_to edit_challenge_win_path(win.challenge, win), class: "btn btn-block btn-primary"  do %>
            <%= material_icon.edit %><br>Edit
          <% end %>
        </div>
      <% end %>
      <div class="col">
        <%= link_to challenge_win_path(win.challenge, win), class: "btn btn-block btn-primary"  do %>
          <%= material_icon.remove_red_eye %><br>show
        <% end %>
      </div>
    </div>
    <div class="row">
      <% win.images.limit(3).each do |image| %>
      <div class="col">
        <%= image_tag image, class: "img-fluid" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
