<div class="container">
  <div class="row my-3">
    <div class="col-md-4">
      <h3><%= @challenge.title %></h3>
      <p><%= @challenge.description %></p>
      <%= link_to "Add a Win", new_challenge_win_path(@challenge, @win), class: "btn btn-block btn-primary my-3" %>
    </div>
    <div class="col-md-8">
      <% if @wins.count > 0 %>
        <% @wins.each do |win| %>
          <div class="card mb-3">
            <div class="card-header">
              <%= link_to win.title, challenge_win_path(@challenge, win) %>
            </div>
            <div class="card-body">
              <%= win.description if win.description %><br>
              <%= win.user.inspect if win.user %><br>
              <%= win.inspect %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>
          No one has any wins on this challenge yet.
          <%= link_to "Get one done.", new_challenge_win_path(@challenge, @win) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
