<div class="container">
  <div class="row pb-5">
    <div class="<%= standard_column_setting %> py-3">
      <h4 class="text-center py-3">Record a Win</h4>
      <p>Challenge: <%= @challenge.title %></p>
      <p><%= @challenge.description %></p>

      <%= render 'form', url: challenge_wins_url, win: @win %>

      <%= link_to 'Back', challenges_path, class: "btn btn-block btn-secondary my-3" %>
    </div>
  </div>
</div>
