<%= link_to users_admin_path(user), class: "list-group-item list-group-item-action flex-column align-items-start"  do %>
  <div class="d-flex w-100 justify-content-between">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "img-fluid", width: "50px" %>
    <% else %>
      <%= image_tag "default_avatar.jpg", class: 'img-fluid', width: "50px" %>
    <% end %>
    <h5 class="mb-1">

    </h5>
    <small>
      <strong>Challenges</strong> (<%= user.challenges.size %>)
      <strong>Wins</strong> (<%= user.wins.size %>)
      <%= user.email %>
    </small>
  </div>
<% end %>
