<p>ID: <%= user.id %></p>
<p>Email: <%= user.email %></p>
<p>First Name: <%= user.first_name %></p>
<p>Last Name: <%= user.last_name %></p>
<p>Phone: <%= user.phone %></p>
<p>Description: <%= user.description %></p>
<p>Created at: <%= user.created_at %></p>
<p>Updated at: <%= user.updated_at %></p>
<p>Moniker: <%= user.moniker %></p>
<p>Playment Plan: <%= user.payment_plan %></p>
<p>Visibility: <%= user.visibility %></p>
<p>Slug: <%= user.slug %></p>
<%= image_tag url_for(user.avatar), style: "width:75px" if user.avatar.attached? %>
