<div class="row m-1">
  <div class="col-4 py-1">
    <%= link_to user_path(user) do %>
      <%= render "users/small_circular_avatar", avatar_to_display: user %>
    <% end %>
  </div>
  <div class="col-8">
    <%= user.first_name if user.first_name %>
    <%= user.last_name if user.last_name %><br>
    <%= "@#{user.moniker}" if user.moniker %><br>
    <span class="badge badge-success"><%= "Wins #{user.wins.size}" %></span>
    <span class="badge badge-primary"><%= "Challenges #{user.challenges.size}" %></span>
  </div>
</div>
