<div class="container">
  <div class="row py-5">
    <div class="col-md-2">
      <p>
        <strong>Moniker:</strong><br>
        <%= @user.moniker %>
      </p>
      <p>
        <strong>First Name:</strong><br>
        <%= @user.first_name %>
      </p>
      <p>
        <strong>Last Name:</strong><br>
        <%= @user.last_name %>
      </p>
      <%= image_tag @user.avatar, class: "img-fluid" if @user.avatar.attached? %>
    </div>
    <div class="col-md-10">

      <h2 class="pb-3">Challenges (<%= @user.challenges.size %>)</h2>
      <ul class="list-group">
        <% @user.challenges.reverse.each do |challenge| %>
          <%= link_to challenge.title, challenge, class: "list-group-item list-group-item-action" %>
        <% end %>
      </ul>
      <h2 class="py-3">Wins (<%= @user.wins.size %>)</h2>

      <% @user.wins.reverse.each do |win| %>
        <%= render "challenges/wins/win", win: win %>
      <% end %>
    </div>
  </div>
</div>
