<div class="container">
  <div class="row">
    <div class="col-md">
      <%= image_tag @user.avatar, class: "img-fluid" if @user.avatar.attached? %>
    </div>
    <div class="col-md">
      <p>
        <%= @user.first_name %> <%= @user.last_name %>
      </p>

      <h2>Challenges (<%= @user.challenges.size %>)</h2>
        <% @user.challenges.each do |challenge| %>
          <%= challenge.title %>
        <% end %>
      <h2>Wins (<%= @user.wins.size %>)</h2>

      <% @user.wins.each do |win| %>
        <%= render "challenges/wins/win", win: win %>
      <% end %>
    </div>
  </div>
</div>
