<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% challenges.each do |challenge| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h3 class="card-heading">
                <%= challenge.title %>
              </h3>
              <p class="card-text">
                <%= challenge.description %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", challenge, class: "btn btn-lg btn-outline-primary" %>
                  <%= link_to "Join", challenge, class: "btn btn-lg btn-outline-success" unless challenge.users.include? current_user %>
                </div>
                <small class="text-muted p-3">
                   <%= time_ago_in_words challenge.created_at %>
                </small>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <% challenge.users.each do |user| %>
                <%= link_to users_admin_path(user), class: "list-group-item list-group-item-action" do %>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag user.thumbnail, class: "img-fluid rounded-circle", width: "50px" if user.avatar.attached? %>
                      <%= image_tag "default_avatar.jpg", class: "img-fluid rounded-circle", width: "50px" unless user.avatar.attached? %>
                    </div>
                    <div class="col-9">
                      <p>
                        <% if user.moniker %>
                          <%= user.moniker %>
                        <% else %>
                          <%= "Anonymous" %>
                        <% end %>
                      </p>
                      <p>
                        <small>
                          Wins:
                        </small>
                        <span class="badge badge-primary">
                          <%= user.wins.count %>
                        </span>
                        <small>
                          Challenges:
                        </small>
                        <span class="badge badge-primary">
                          <%= user.challenges.count %>
                        </span>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
