<ul class="nav nav-tabs mt-3 mb-3 pl-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="add-a-win-tab" data-toggle="tab" href="#add-a-win" role="tab" aria-controls="add-a-win" aria-selected="true">
      + Win
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="create-a-challenge-tab" data-toggle="tab" href="#create-a-challenge" role="tab" aria-controls="create-a-challenge" aria-selected="false">
      + Challenge
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="add-a-user-tab" data-toggle="tab" href="#add-a-user" role="tab" aria-controls="add-a-user" aria-selected="false">
      + User
    </a>
  </li>
</ul>

<div class="tab-content pb-5 <%= standard_column_setting %>" id="myTabContent">
  <div class="tab-pane fade show active" id="add-a-win" role="tabpanel" aria-labelledby="add-a-win-tab">
    <ul class="list-group list-group-flush">
      <% if @challenges.size > 0 %>
        <div class="text-center"><h5>Record Win for which Challenge?</h5></div>
        <% @challenges.reverse.each do |challenge| %>
          <%= link_to challenge, class: "list-group-item list-group-item-action" do %>
            <%= render challenge %>
          <% end %>
        <% end %>
      <% else %>
        <h5>Welcome to Win Daily</h5>
        <p>In order to log wins, you need to join a challenge.</p>
        <%= link_to "Find a Challenge", challenges_path, class: "btn btn-block btn-primary" %>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="create-a-challenge" role="tabpanel" aria-labelledby="create-a-challenge-tab">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-center"><h5>Create a Challenge</h5></div>
          <%= render 'challenges/form', challenge: @challenge %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="add-a-user" role="tabpanel" aria-labelledby="add-a-user-tab">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-center"><h5>Add a Friend</h5></div>
          <%= form_with(url: "/users", method: "post", id: "email_new_user_form") do |f| %>
            <%= f.hidden_field :challenge_id, value: params[:challenge] if params[:challenge]%>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, placeholder: 'your_friend@testing.com', autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>
            <%= f.submit "Add a Friend", class: "btn btn-block btn-primary" %>
          <% end %>
          <%= form_with model: @user, local: true, id: "phone_new_user_form" do |f| %>
            <h1 class="text-center">or</h1>
            <div class="form-group">
              <%= f.label :phone %>
              <%= f.telephone_field :phone, placeholder: '(xxx) xxx-xxxx', class:"form-control", pattern: "[0-9]{10}" %>
            </div>
            <%= f.submit "Add a Friend", class: "btn btn-block btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
