<ul class="nav nav-tabs mt-3 mb-3 pl-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="following" aria-selected="true">Following</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="add-user-tab" data-toggle="tab" href="#add-user" role="tab" aria-controls="add-user" aria-selected="false">+ User</a>
  </li>
</ul>

<div class="tab-content <%= standard_column_setting %> mb-5" id="myTabContent">
  <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <% if @followings.size > 0 %>
      <% @followings.each do |user| %>
        <div class="col-12">
          <%= link_to user_path(user) do %>
            <%= render "users/users/user", user: user %>
          <% end %>
        </div>
      <% end %>
    <% else %>
    <div class="text-center py-3">
      <h5>You aren't following anyone.</h5>
      <%= link_to "Explore Users", users_path, class: "btn btn-block btn-primary my-5" %>
    </div>
    <% end %>

  </div>
  <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
    <% if @followers.size > 0 %>
      <% @followers.each do |user| %>
        <div class="col-12">
          <%= link_to user_path(user) do %>
            <%= render "users/users/user", user: user %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center py-3">
        <h5>No one is following you yet.</h5>
        <%= link_to "Add Friends", new_user_path, class: "btn btn-block btn-primary my-3" %>
        <%= link_to "Explore Challenges", challenges_path, class: "btn btn-block btn-primary my-3" %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
    <% @users.each do |user| %>
      <div class="col-12">
        <%= link_to user_path(user) do %>
          <%= render "users/users/user", user: user %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="add-user" role="tabpanel" aria-labelledby="add-user-tab">
    <%= render "users/users/new_user_form", url: "/dashboard" %>
  </div>
</div>
<br>
