<div class="row pt-5">
  <div class="col-md-6 offset-md-3">
    <h1>Daily Burpees</h1>
    <p>Stay strong with daily burpees.</p>
  </div>
  <div class="col-md-3">
    <% unless current_user %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row pt-3 pb-3">
  <div class="col-md-6 offset-md-3">

    <% @challenges.limit(1).each do |challenge| %>
      <h2><%= challenge.title %></h2>
      <p>Description:</p>
      <p><%= challenge.description %></p>
      <ul>
        <% challenge.users.each do |user| %>
          <li><%= user.email %></li>
          <li><%= user.wins.count %></li>
        <% end %>
      </ul>
      <%= link_to "Join Challenge", challenge, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
