<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Daily Burpees</h1>
    <p>A simple app to stay strong with daily burpees.</p>
  </div>
  <div class="col-md-3">
    <% unless current_user %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<% @challenges.each do |challenge| %>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2><%= challenge.title %></h2>
      <p>Description:</p>
      <p><%= challenge.description %></p>
      <ul>
        <% challenge.users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
      <%= link_to "Join Challenge", challenge, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
