<main role="main">

  <% unless current_user %>
    <section class="jumbotron mb-0 text-center">
      <div class="container">
        <div class="row py-3">
          <div class="col">
            <h1 class="jumbotron-heading">
              <%= image_tag "win_daily_logo.png", width: "75px" %>
              Win Daily
            </h1>
            <p class="lead text-muted">
              Challenge your friends to develop habits with you.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4"
            <p>
              <%= link_to "Create a Challenge", new_challenge_path, class: "btn btn-block btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <% @challenges = Challenge.all if @challenges.size === 0 %>

        <% @challenges.each do |challenge| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <% if false %>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>
              <% end %>
              <div class="card-body">
                <h3 class="card-heading">
                  <%= challenge.title %>
                </h3>
                <p class="card-text">
                  <%= challenge.description %>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "View", challenge, class: "btn btn-lg btn-outline-primary" %>
                    <%= link_to "Join", challenge, class: "btn btn-lg btn-outline-success" %>
                  </div>
                  <small class="text-muted">
                     <%= time_ago_in_words challenge.created_at %>
                  </small>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <% challenge.users.each do |user| %>
                  <%= link_to users_admin_path(user), class: "list-group-item list-group-item-action" do %>
                    <div class="row">
                      <div class="col-3">
                        <%= image_tag user.thumbnail, class: "img-fluid rounded-circle", width: "50px" if user.avatar.attached? %>
                        <%= image_tag "default_avatar.jpg", class: "img-fluid rounded-circle", width: "50px" unless user.avatar.attached? %>
                      </div>
                      <div class="col-9">
                        <p>
                          <% if user.moniker %>
                            <%= user.moniker %>
                          <% else %>
                            <%= "Anonymous" %>
                          <% end %>
                        </p>
                        <p>
                          <small>
                            Wins:
                          </small>
                          <span class="badge badge-primary">
                            <%= user.wins.count %>
                          </span>
                          <small>
                            Challenges:
                          </small>
                          <span class="badge badge-primary">
                            <%= user.challenges.count %>
                          </span>
                        </p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </ul>

            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</main>
