<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% @challenges = Challenge.all if @challenges.size === 0 %>
      <% @challenges.each do |challenge| %>
        <div class="card my-3">
          <div class="card-body">
            <h2><%= challenge.title %></h2>
            <p>Description:</p>
            <p><%= challenge.description %></p>
            <ul>
              <% challenge.users.each do |user| %>
                <li><%= user.email %> | Win count: <%= user.wins.count %></li>
              <% end %>
            </ul>
            <%= link_to "View", challenge, class: "btn btn-block btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
