<br>
<div class="row">
  <div class="eight columns">
    <h1>Torture Your Friends!</h1>
    <p>A simple app to challenge your friends to daily torturous events</p>
  </div>
  <div class="four columns">
    <%= link_to "Sign In", new_user_session_path, class: "button button-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "button button-primary" %>
  </div>
</div>


<% @challenges.each do |challenge| %>
  <h2><%= challenge.title %></h2>
  <p>Description:</p>
  <p><%= challenge.description %></p>
  <ul>
    <% challenge.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
  <%= link_to "Join Challenge", challenge, class: "button button-primary" %>
<% end %>
