<%= image_tag challenge.primary_image, class: "card-img-top", alt: "Card image cap" if challenge.primary_image.attached? %>

<h3><%= challenge.title %></h3>
<p class="card-text">
  <%= challenge.description %>
  <%= link_to "View", challenge_path(challenge), class: "btn btn-primary" %>
  <%= link_to "Join", challenge_join_path(challenge), class: "btn btn-success" unless challenge.users.include? current_user %>
</p>
