<%= form_with(model: challenge, local: true, id: "new_challenge_form") do |f| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(challenge.errors.count, "error") %>
        prohibited this challenge from being saved:
      </h2>

      <ul>
      <% challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_area :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <%= f.file_field :primary_image, class: "form-control" %>
      <%= f.label :primary_image, class:"custom-file-label" %>
    </div>
  </div>

  <!-- <div class="form-group">
    <%#= f.label :frequency %>
    <p class="small text-muted">This will be something like daily, weekly, monthly or whatever. Please just type it in now. I'll get it working now.</p>
    <%#= f.text_area :frequency, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :visibility %>
    <p class="small text-muted">Is this a public or private?</p>
    <%#= select_tag(:visibility, options_for_select([["Draft", 0], ["Private", 1], ["Public", 2]], selected: 2), class: 'form-control') %>
  </div> -->

  <% unless current_user %>
    <div class="form-group">
      <%= f.label "Email" %>
      <p class="small text-muted">
        You will be added as a user with a temporary password.
      </p>
      <%= f.email_field :email, class: "form-control", required: "true" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-block btn-primary" %>
  </div>
<% end %>
