<%= form_with(model: challenge, local: true) do |f| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(challenge.errors.count, "error") %>
        prohibited this challenge from being saved:
      </h2>

      <ul>
      <% challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_area :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Add existing users:</label>
    <p class="small text-muted">You will have the opportunity to add new users after you create the challenge.</p>

    <!-- <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> -->

    <% @users.each_with_index do |user, index| %>
      <%= check_box_tag(user) %>
      <%= label_tag(user, user.email) %><br>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>
    <p class="small text-muted">This will be something like daily, weekly, monthly or whatever. Please just type it in now. I'll get it working now.</p>
    <%= f.text_area :frequency, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-block btn-primary" %>
<% end %>
