<%= form_with(model: challenge, local: true) do |f| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(challenge.errors.count, "error") %>
        prohibited this challenge from being saved:
      </h2>

      <ul>
      <% challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :title %>
    <%= f.text_area :title, class: "u-full-width" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "u-full-width" %>

    <% @users.each do |user| %>
      <%= check_box_tag(user) %>
      <%= label_tag(user, user.email) %>
    <% end %>

    <%= f.submit "Update" %>
  </div>
<% end %>
