<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
          <h2 class="pt-3">All Challenges</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @challenges.count > 0 %>
      <% @challenges.reverse.each do |challenge| %>
        <div class="card m-3">
          <div class="card-body">
            <%= link_to challenge_path(challenge) do %>
              <%= render "primary_image", challenge: challenge %>
            <% end %>
            <p>Title: <%= challenge.title %></p>
            <p><%= challenge.description %></p>
            <% if challenge.wins.size > 0 %>
              <p><%= link_to "Wins #{challenge.wins.size}", challenge_path(challenge), class: "badge badge-success" %></p>
            <% else %>
              <p><%= link_to "No wins recorded yet", challenge_path(challenge), class: "badge badge-success" %></p>
            <% end %>
            <%= render "join_or_leave_button", challenge: challenge %>
            <%= link_to 'View', challenge, class: "btn btn-block btn-primary" %>
          </div>
        </div>
        <!-- <p><#%= link_to 'Edit', edit_challenge_path(challenge), class: "btn btn-block btn-primary" %></p> -->
        <!-- <p><#%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-primary" %></p> -->
      <% end %>
      <%= link_to 'Create a New Challenge', new_challenge_path, class: "btn btn-block btn-primary m-3" %>
    <% else %>
      <div class="col">
        <p class="text-center">You're not currently participating in a challenge.</p>
        <%= link_to "Join a Challenge", challenges_path, class: "btn btn-block btn-success" %>
        <%= link_to 'Create a New Challenge', new_challenge_path, class: "btn btn-block btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
