<div class="container">
  <div class="row py-3">
    <div class="col-md-4 pb-5 py-3">
      <%= image_tag @challenge.primary_image, class: "img-fluid rounded pb-3" if @challenge.primary_image.attached? %>
      <h3>
        <%= @challenge.title %>
      </h3>
      <p>
        <%= @challenge.description %>
      </p>
      <% if @challenge.users.size > 0 %>
        <h3>Participants:</h3>
        <div class="list-group pb-3">
          <% @challenge.users.each do |user| %>
            <%= render "users/list_group_item", user: user %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <p>This challenge doesn't currently have any challengers.</p>
          <p>
            <%= link_to challenge_join_path(@challenge), class: "btn btn-block btn-success" do %>
              Be the first to start the challenge.
            <% end %>
          </p>
        </div>
      <% end %>

      <% if @challenge.users.include?(current_user) %>
        <%= link_to "Record a Win", new_challenge_win_path(@challenge), class: "btn btn-block btn-success" %>
        <%= link_to "Add a Friend", new_users_admin_path(challenge: @challenge), class: "btn btn-block btn-info" %>
        <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-block btn-primary" %>
      <% else %>
        <%= link_to 'Join', challenge_join_path(@challenge), class: "btn btn-block btn-success" %>
      <% end %>
      <%= link_to 'Back', challenges_path, class: "btn btn-block btn-secondary" %>
    </div>

    <div class="col-md-8 pb-5 py-3">
      <% if @challenge.wins.size > 0 %>
        <div class="row">
          <div class="col">
            <% @challenge.wins.reverse.each do |win| %>
              <%= render "challenges/wins/win", win: win %>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="text-center">
          No one has recorded a win yet. <%= link_to "Lead the way!", new_challenge_win_path(@challenge) %>
        </p>
        <%= link_to "Record a Win", new_challenge_win_path(@challenge), class: "btn btn-block btn-success" %>
      <% end %>
    </div>
  </div>
</div>
