<div class="container">
  <div class="row">
    <div class="col text-center">
      <p id="notice"><%= notice %></p>
      <h1><%= @challenge.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p><%= @challenge.description %></p>
      <ul>
        <% @challenge.users.each do |user| %>
          <li>
            <% if user.first_name %>
              <%= user.first_name %>
            <% else %>
              <%= user.email %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">

      <%= link_to "Record a Win", new_challenge_win_path(@challenge), class: "btn btn-block btn-primary" %>
      <%= link_to 'Join', challenge_join_path(@challenge), class: "btn btn-block btn-primary" %>
      <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-block btn-primary" %>
      <%= link_to 'Back', challenges_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>
