<% if current_user %>
  <h1 class="text-center pt-3">Daily Wins</h1>
  <p class="text-center">Challenge your friends. Get better as a group.</p>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Challenges", challenges_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
    </li>
  </ul>
<% else %>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6 offset-md-3">
        <center>
          <h1>Win Daily</h1>
          <p>Challenge your friends. Get better as a group.</p>
        </center>
        <% unless current_user %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-block btn-primary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-block btn-success" %>
          <%= link_to "Create a Challenge", new_user_registration_path, class: "btn btn-block btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
