<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            A tool to help you challenge friends to develop better habits together.
          </p>
          <p><strong class="text-white">How it works:</strong></p>
          <p class="text-muted">
            Create a challenge (e.g. 50 pushups a day). Invite your friends. Record your daily wins to stay on track.
          </p>
          <p class="text-primary">
            Good luck.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Get Started</h4>
          <ul class="list-unstyled">
            <li>
              <%= link_to "Sign In", new_user_session_path, class: "text-white btn btn-primary btn-block my-3" %>
            </li>
            <li>
              <%= link_to "Create an Account", new_user_registration_path, class: "text-white btn btn-primary btn-block my-3" %>
            </li>
            <li>
              <%= link_to "Create a Challenge", new_challenge_path, class: "text-white btn btn-primary btn-block my-3" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "win_daily_logo_white.png", width: "50px", class: "mt-1 mr-2" %>
        <strong>Win Daily</strong>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
