<nav class="navbar fixed-bottom navbar-dark bg-dark text-white">
  <div class="col text-center">
    <%= link_to material_icon.home, root_url %>
  </div>
  <div class="col text-center">
    <%= link_to material_icon.check_circle_outline, my_challenges_url %>
  </div>
  <div class="col text-center">
    <%= link_to material_icon.group, users_path %>
  </div>
  <div class="col text-center">
    <%= link_to material_icon.add_task, new_challenge_path %>
  </div>
  <div class="col text-center">
    <%= link_to material_icon.settings, edit_user_registration_path %>
  </div>
</nav>
