<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Win Daily</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'win_daily_logo_favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/layouts/notification" if notice %>
    <%= render "/layouts/nav" %>
    <%= yield %>
    <%= render "/layouts/footer" unless current_user %>
  </body>
</html>
